In [39]:
import pandas as pd

In [40]:
df = pd.read_csv("C:/Users/pitam/OneDrive/Desktop/jupyter/top-5000-youtube-channels-data-from-socialblade.csv")

In [41]:
df.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null object
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    5000 non-null object
Subscribers      5000 non-null object
Video views      5000 non-null int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [43]:
df['Rank']=df['Rank'].str[:1].str.replace(',','').astype('int')

In [44]:
df['Rank']

0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9       1
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1
18      1
19      2
20      2
21      2
22      2
23      2
24      2
25      2
26      2
27      2
28      2
29      3
       ..
4970    4
4971    4
4972    4
4973    4
4974    4
4975    4
4976    4
4977    4
4978    4
4979    4
4980    4
4981    4
4982    4
4983    4
4984    4
4985    4
4986    4
4987    4
4988    4
4989    4
4990    4
4991    4
4992    4
4993    4
4994    4
4995    4
4996    4
4997    4
4998    4
4999    5
Name: Rank, Length: 5000, dtype: int32

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null int32
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    5000 non-null object
Subscribers      5000 non-null object
Video views      5000 non-null int64
dtypes: int32(1), int64(1), object(4)
memory usage: 214.9+ KB

In [46]:
#df['Subscribers'].astype('double')
mask1 = df[df['Subscribers'].str.contains('-')].index
df.drop(labels = mask1, axis = 0, inplace=True)

In [47]:
df['Subscribers']=df['Subscribers'].astype('int')

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4613 entries, 0 to 4999
Data columns (total 6 columns):
Rank             4613 non-null int32
Grade            4613 non-null object
Channel name     4613 non-null object
Video Uploads    4613 non-null object
Subscribers      4613 non-null int32
Video views      4613 non-null int64
dtypes: int32(2), int64(1), object(3)
memory usage: 216.2+ KB